/* CSS da planilha. */
div#div-geral {
background-color: #D8D8D8;
padding: 7px;
}

div#div-stats {
background-color: #D8D8D8;
padding: 7px;
}

div#div-ataque {
background-color: #D8D8D8;
padding: 7px;
}

div#div-defesa {
background-color: #D8D8D8;
padding: 7px;
}

div#div-equipamentos {
background-color: #D8D8D8;
padding: 7px;
}

div#div-salvacoes {
background-color: #D8D8D8;
padding: 7px;
}
